<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.invoices.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!cargando">
  <ion-card *ngIf="lastInvoices.length === 0 && pedidosprof.length === 0" color="primary" class="ion-margin-top">
    <ion-card-content>
      <p class="ion-text-center text-white">No tienes tutorías.</p>
    </ion-card-content>
  </ion-card>
  <ion-list class="ion-no-padding" [@staggerIn]="lastInvoices">

    <ion-item class="bg-white" lines="none" *ngFor="let invoice of lastInvoices" tappable
     >
      
      <ion-icon slot="start" name="list-box" color="primary"></ion-icon>
      <ion-label>
        <h2 (click)="irPerfilProfesor(invoice.id_profesor)">
          <ion-text color="dark"><strong>{{invoice.title}}</strong></ion-text>
        </h2>
        <div><ion-badge style="font-size: 15px;"  color="white">{{invoice.senderName}}</ion-badge></div>
        <div><ion-badge style="font-size: 15px;" color="white">{{invoice.date | date: 'dd/MM/yyyy'}}</ion-badge></div>
        
        
        <ion-badge *ngIf="!invoice.paid" color="warning">Pendiente</ion-badge>
        <ion-badge *ngIf="invoice.paid" color="success">Pagado</ion-badge>
        
      </ion-label>
  
      <ion-label>
        <ion-badge float-right slot="end">USD {{invoice.value }}.00</ion-badge><br><br>
        <ion-button *ngIf="invoice.paid && !invoice.cancelada" float-right slot="end" size="small" color="danger" class="nombre_materia" (click)="cancelar(invoice)" >Cancelar</ion-button>
      <ion-button *ngIf="invoice.paid" float-right slot="end" size="small" color="primary" class="nombre_materia" (click)="traerLinkZoom(invoice.id)" >Zoom</ion-button>
      <ion-button *ngIf="!invoice.paid" float-right slot="end" size="small" style="background-color:green; color:white" (click)="goCheckout(invoice)" >Pagar</ion-button>
      <ion-button *ngIf="!invoice.paid" float-right slot="end" size="small" color="danger" class="nombre_materia" (click)="eliminarHora(invoice)" >Eliminar</ion-button>
    </ion-label>
    </ion-item> 

  </ion-list>
<br>
  <ion-button *ngIf="pedidosprof.length != 0" class="ion-no-margin" expand="full" size="medium" color="dark">
    Tutorías faltantes por dar como Profesor.
  </ion-button>
  <ion-list *ngIf="pedidosprof.length != 0" class="ion-no-padding" [@staggerIn]="pedidosprof">

    <ion-item class="bg-white" lines="none" *ngFor="let invoice of pedidosprof" tappable
     >
      
      <ion-icon slot="start" name="list-box" color="primary"></ion-icon>
      <ion-label>
        <h2>
          <ion-text color="dark"><strong>{{invoice.title}}</strong></ion-text>
        </h2>
        <p class="text-12x">
          <ion-text >{{invoice.date | date: 'dd/MM/yyyy'}}</ion-text>
        </p>
        
      </ion-label>
    </ion-item> 

  </ion-list>
</ion-content>