<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <h1 class="ion-text-center fw700">
      <ion-text color="dark">RECUPERAR CONTRASEÑA</ion-text>
    </h1>
  
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-padding">

          <ion-list class="ion-margin-bottom">
            
            <ion-item >
              <ion-label color="dark" position="stacked">Código Recuperación:</ion-label>
              <ion-input [(ngModel)]="codigo" placeholder="" ></ion-input>
            </ion-item>

            <ion-item >
              <ion-label color="dark" position="stacked">Nueva Contraseña:</ion-label>
              <ion-input [(ngModel)]="contrasenia" placeholder="" ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Confirmar Contraseña:</ion-label>
              <ion-input  [(ngModel)]="repitecontrasenia" placeholder="" ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button (click)="cambiarContrasenia()" size="large" expand="full" color="dark"  class="ion-no-margin">RECUPERAR CONTRASEÑA</ion-button>
  </ion-card>

</ion-content>