<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        {{ 'app.name' | translate }} <ion-text color="tertiary" class="fw700"> {{ 'app.version' | translate }}
        </ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <!--<ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>-->
      <ion-button *ngIf="tipoUsuario!='CLIENTE'" size="small" shape="round" color="medium" tappable routerLink="/settings" routerDirection="forward">
        <ion-icon slot="icon-only" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchKey" (ionChange)="onInput($event)" (ionCaancel)="onCancel($event)"
      placeholder='Buscar'></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-grid class="ion-no-padding" fixed>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-button class="ion-no-margin" expand="full" size="medium" color="secondary">
          Profesores
        </ion-button>
     
        
    
      </ion-col>
      <!--<ion-col class="ion-no-padding">
        <ion-button class="ion-no-margin" expand="full" size="medium" color="primary"
          (click)="openPropertyListPage('rent')">
          En Linea
        </ion-button>
      </ion-col>-->
    </ion-row>

    <div *ngIf="!cargar" class="ion-no-margin" [@staggerIn]="properties">
      <!-- # -->
      <div  *ngFor="let property of properties  | paginate: { itemsPerPage: 10, currentPage: p }">
      <ion-item *ngIf="property.ensena != (0) && property.ensena != [] && property.price != null && property.price !='' && property.horas" lines="none" class="bg-white" tappable routerLink="/property-detail/{{property.id}}"
       >
        <ion-thumbnail slot="start">
          <img style="border-radius: 50%;" [src]="property.picture" onerror="this.src='./assets/img/avatar.png';">
        </ion-thumbnail>
        <ion-label>
          <ion-row>
            <ion-col>
              <h2>
                <ion-text color="dark"><strong>{{ property.title }}</strong></ion-text>
              </h2>
              <p class="text-12x">
                <ion-text color="primary" style="color: black">{{property.city}}</ion-text>
                <ion-text color="secondary">{{ property.price }}</ion-text>
              </p>

            <p class="text-12x">
              <ion-text color="black" *ngFor="let ensena of property.ensena">{{ ensena.nombre_materia }}. </ion-text>
            </p>

              <ion-badge slot="end" color="primary" *ngIf="property.estado_usuario_cuenta === true">
                <ion-text color="light">En línea</ion-text>
              </ion-badge>

              <ion-badge slot="end" color="secondary" *ngIf="property.label === 'sale'">
                <ion-text color="light"></ion-text>
              </ion-badge>
            </ion-col>
            <ion-col style="text-align: right">
              <h2>
                <ion-text color="black"><strong>${{ property.price }}/h</strong>
                </ion-text>
              </h2>
              <p class="text-12x">
                <ion-text color="black"><strong></strong></ion-text>
              </p>
              <p class="text-12x">
                <ion-text color="primary" style="color: black">{{property.ciudad_nombre}}</ion-text>
                
              </p>

            </ion-col>

          </ion-row>
          <ion-badge slot="end" color="primary" *ngIf="property.estado_usuario_linea === true">
            <ion-text color="light">En línea</ion-text>
          </ion-badge>

          <ion-badge slot="end" color="secondary" *ngIf="property.label === 'sale'">
            <ion-text color="light"></ion-text>
          </ion-badge>

          <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ea8d16"
            defaultColor="#e8dede" readonly="true" [rating]="property.estrellas" fontSize="22px" (ratingChanged)="logRatingChange($event)">
          </ionic4-star-rating>
        </ion-label>
      </ion-item>
      <!-- # -->
     
    </div>
    
    </div>

  </ion-grid>

  <!--<ion-button class="ion-margin" expand="full" color="secondary" (click)="openPropertyListPage()">
    {{ 'app.button.moreresults' | translate }}
  </ion-button>-->

  
</ion-content>

<ion-footer class="animated fadeIn">
  <pagination-controls  previousLabel="Anterior"nextLabel="Siguiente" (pageChange)="p = $event" style="text-align: center;"></pagination-controls>
  <ion-toolbar color="primary">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <!--<ion-col size="4" class="ion-no-padding">
          <ion-button size="small" expand="full" fill="clear" color="medium" routerLink="/nearby">
            <ion-icon slot="start" name="compass"></ion-icon>
            {{ 'app.button.nearby' | translate }}
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-no-padding">
          <ion-button size="small" expand="full" fill="clear" color="medium" routerLink="/bycategory">
            <ion-icon slot="start" name="apps"></ion-icon>
            {{ 'app.button.bycategory' | translate }}
          </ion-button>
        </ion-col>-->
        <ion-col class="ion-no-padding" *ngIf="tipoUsuario!='CLIENTE'">
          <ion-button size="small" expand="full" fill="clear" color="medium" routerLink="/invoices">
            <ion-icon slot="start" name="list-box"></ion-icon>
            {{ 'app.button.invoices' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>