<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Disponibilidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid><br>
      <div style="color: #000000;text-align: center;">
        <ion-note class="fw700" style="color: #000000;">Para registrar su disponibilidad lo puede hacer ingresando fecha y hora de inicio, fecha y hora final.</ion-note>
      </div><br><br>
    </ion-grid>
  </div>
  <ion-item >
    <ion-label >Fecha inicio</ion-label>
    <input [(ngModel)]="fechainicio" type="date">
  </ion-item>
  <ion-item >
    <ion-label >Hora Inicio</ion-label>
    <ion-select value="8" [(ngModel)]="horainicio">
      <ion-select-option *ngFor="let a of horas" [value]="a" role="option" id="ion-selopt-18" class="md hydrated">{{a}}:00</ion-select-option>
   </ion-select>
  </ion-item> 


  <ion-item >
    <ion-label >Fecha fin</ion-label>
    <input [(ngModel)]="fechafin" type="date">
  </ion-item>

  <ion-item >
    <ion-label >Hora Fin</ion-label>
    <ion-select value="12"  [(ngModel)]="horafin">
      <ion-select-option *ngFor="let a of horas" [value]="a" role="option" id="ion-selopt-18" class="md hydrated">{{a}}:00</ion-select-option>
   </ion-select>
  </ion-item>
  <!--<button (click)="generarDisponibilidad()">sfs</button>-->
  <div style="text-align: center;">
    <ion-button icon-left color="primary" (click)="generarDisponibilidad()">
      <ion-icon name="add"></ion-icon>
      Agregar Disponibilidad
    </ion-button>
  </div>
  <br>
  <div>
    <ion-grid><br>
      <div style="color: #000000;text-align: center;">
        <ion-note class="fw700" style="color: #000000;">O puede seleccionar sus horas disponibles para dar clase.</ion-note>
      </div><br><br>
      <ion-row>
        <ion-col style="text-align: center;">
          <div>
            <ion-icon style="color: #10009c;" name="bookmark"></ion-icon>
            <ion-note color="primary">Hora Pendiente </ion-note>
          </div>
        </ion-col>
        <ion-col style="text-align: center;">
          <div>
            <ion-icon style="color: #eb1414;" name="bookmark"></ion-icon>
            <ion-note color="danger">Hora Confirmada</ion-note>
          </div>
        </ion-col>
        <ion-col style="text-align: center;">
          <div>
            <ion-icon style="color: #009c17;" name="bookmark"></ion-icon>
            <ion-note style="color: #009c17;">Hora Disponible</ion-note>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #template let-tm="tm" let-hourParts="hourParts" let-eventTemplate="eventTemplate">
    <div [ngClass]="{'calendar-event-wrap': tm.events}" *ngIf="tm.events">
      <div *ngFor="let displayEvent of tm.events">
        <div *ngIf="displayEvent.event.reservado==1">
          <div [class.active]="displayEvent.event.id == activeid && active" style="background-color: rgb(0, 156, 23);"
            class="calendar-event" tappable (press)="Options(displayEvent.event.id)"
            (tap)="onEventSelected(displayEvent.event)"
            [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
          </div>
        </div>
        <div *ngIf="displayEvent.event.reservado==2">
          <div [class.active]="displayEvent.event.id == activeid && active" style="background-color: rgb(16, 0, 156);"
            class="calendar-event" tappable (press)="Options(displayEvent.event.id)"
            (tap)="onEventSelected(displayEvent.event)"
            [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
          </div>
        </div>
        <div *ngIf="displayEvent.event.reservado==3">
          <div [class.active]="displayEvent.event.id == activeid && active" style="background-color: rgb(235, 20, 20);"
            class="calendar-event" tappable (press)="Options(displayEvent.event.id)"
            (tap)="onEventSelected(displayEvent.event)"
            [ngStyle]="{top: (37*displayEvent.startOffset/hourParts)+'px',left: 100/displayEvent.overlapNumber*displayEvent.position+'%', width: 100/displayEvent.overlapNumber+'%', height: 37*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'}">
          </div>
        </div>
      </div>
    </div>

  </ng-template>


  <calendar *ngIf="calendario && !cargar" (click)="onTimeSelected($event)"
    [weekviewNormalEventSectionTemplate]="template" [dayviewNormalEventSectionTemplate]="template"
    [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)"
    [dateFormatter]="calendar.dateFormatter" [startHour]="calendar.menor" [endHour]="calendar.mayor"
    [lockSwipes]="false" step="80">
  </calendar>
</ion-content>