:host {
  ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }
}

ion-avatar {
    width: 68px;
    height: 68px;
}

.bg-profile {
  background-image: linear-gradient(180deg, #005b85 0%, #005b85 100%);
}