<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.support.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">

  <div class="ion-text-center bg-profile">
    <img src="assets/img/support-app.jpg">
  </div>

  <ion-card class="ion-no-margin bg-white">
    <ion-card-content>

      <ion-list>
        <ion-item href="tel:+5939999999999">
          <ion-icon name="call" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p>
              <ion-text color="primary">Llama al Soporte Técnico Amautak</ion-text>
            </p>
            <h2>
              <ion-text color="dark">+(593) 999-999-9999</ion-text>
            </h2>
          </ion-label>
        </ion-item>
        <ion-item href="mailto:info@amautak.education">
          <ion-icon name="mail" slot="start" color="primary"></ion-icon>
          <ion-label>
            <p>
              <ion-text color="primary">Correo Electrónico Amautak</ion-text>
            </p>
            <h2>
              <ion-text color="dark">info@amautak.education</ion-text>
            </h2>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>