<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Idiomas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <h1 class="ion-text-center fw700">
      <ion-text color="dark">REGISTRO IDIOMAS</ion-text>
    </h1>
  
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-padding">

          <ion-list class="ion-margin-bottom">

            <ion-list-header color="light">
              <ion-label class="fw700">Idiomas Registradas</ion-label>
            </ion-list-header>

            <div *ngFor="let clase of property.idiomas">
            <ion-list>
              <ion-item >
                <ion-label class="fw700" ><p style="color: black;">{{clase.nombre}}</p><p style="color: black;">{{clase.nivel}}</p></ion-label>

                <div class="item-note" item-end>
                  <ion-button (click)="updateIdioma(clase)"size="small" color="primary">
                      <ion-icon name="create"></ion-icon>
                  </ion-button>
                  <ion-button size="small" color="danger" (click)="deleteIdioma(clase)">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
                  
              </div>
              </ion-item>
              
            </ion-list>
            </div><br><br>
        
            <ion-list-header color="light">
              <ion-label class="fw700">Datos Idiomas</ion-label>
            </ion-list-header>

            <ion-grid>
                <ion-col style="text-align: center;">
                  <ion-item>
                    <ion-label color="dark">Idioma</ion-label>
                    <ion-select [(ngModel)]="idIdiomaSelec">
                      <div *ngFor="let b of idiomas">
                        <ion-select-option [value]="b.idioma +' '+ b.nivel">{{b.idioma}} - {{b.nivel}}
                        </ion-select-option>
                    </div>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <div style="text-align: center;">
                  <ion-button icon-left color="dark" (click)="Agregaridioma()">
                    <ion-icon name="add"></ion-icon>
                    Agregar Idioma Nuevo
                  </ion-button>
                  <ion-button icon-left color="dark" (click)="EnviaridiomaSelect()">
                    <ion-icon name="add"></ion-icon>
                    Agregar Idioma Seleccionado
                  </ion-button>
                </div>
            </ion-grid>

            <!-- <ion-item>
              <ion-icon name="eye" slot="start" color="primary"></ion-icon>
              <ion-label class="label" color="primary">Activar Demo:</ion-label>
              <ion-toggle [(ngModel)]="enableDemo"></ion-toggle>
            </ion-item> -->

            <br><br>

           
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--<ion-button *ngIf="!actualizar" (click)="enviarensena()" size="large" expand="full" color="dark"  class="ion-no-margin">
     Guardar Materia</ion-button>
    <ion-button *ngIf="actualizar" (click)="actualizarensena()" size="large" expand="full" color="dark"  class="ion-no-margin">
     Actualizar Materia</ion-button>-->
  </ion-card>

</ion-content>