<ion-content class="ion-padding animated fadeIn login auth-page">
  <div class="theme-bg"></div>

  <div class="back">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </div>

  <div class="auth-content">

    <!-- Logo -->
    <!--<div class="animated fadeInDown ion-text-center ion-padding-horizontal">-->
    <div class="animated fadeInDown ion-text-center ion-padding-horizontal">
      <br><br>
      <div class="logo"></div>
      <h4 class="ion-no-margin">
        <ion-text color="light" class="fw700">
          <!--{{ 'app.name' | translate }}-->
          <!--<ion-text color="tertiary">{{ 'app.nameb' | translate }}</ion-text>-->
          {{ 'app.version' | translate }}
        </ion-text>
      </h4>
    </div><br>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          {{ 'app.label.email' | translate }}
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="nombre_login"></ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onLoginForm.get('nombre_login').touched && onLoginForm.get('nombre_login').hasError('required')">
        <ion-text color="warning">
          {{ 'app.label.errors.field' | translate }}
        </ion-text>
      </p>

      <ion-item class="ion-no-padding animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          {{ 'app.label.password' | translate }}
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password_login"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08"
        *ngIf="onLoginForm.get('password_login').touched && onLoginForm.get('password_login').hasError('required')">
        <ion-text color="warning">
          {{ 'app.label.errors.field' | translate }}
        </ion-text>
      </p>
    </form>

    <p tappable (click)="forgotPass()" class="ion-text-right paz">
      <ion-text color="light">
        <strong>{{ 'app.pages.login.label.forgot' | translate }}</strong>
      </ion-text>
    </p>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="goToHome()"
        [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        {{ 'app.button.signin' | translate }}
      </ion-button>

      <!--  <p class="ion-text-center">
        <ion-text color="light">
          O {{ 'app.button.signin' | translate }} con:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>-->

    </div>

    <!-- Other links -->
    <div class="ion-text-center ion-margin-top">
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
          Eres nuevo? <strong>{{ 'app.button.signup' | translate }}</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>