<ion-app>
  <ion-split-pane contentId="menu-content">
    <ion-menu contentId="menu-content">
      <ion-header>
        <ion-toolbar color="dark" class="user-profile">

          <ion-item lines="none">

            <ion-avatar slot="start" class="user-avatar">
              <!-- <img src="assets/img/avatar.jpeg">
              <img style="border-radius: 50%;" [src]="'./assets/img/profesores/'+picture"
                onerror="this.src='./assets/img/avatar.png';">-->
              <img style="border-radius: 50%;" [src]="this._authService.getFotouser()" onerror="this.src='./assets/img/avatar.png';">
            </ion-avatar>
            <ion-label *ngIf="this._authService.getRol() != null">
              <ion-text color="light">
                <h2><strong>{{this._authService.getNombres()}}</strong><strong> {{this._authService.getApellidos()}}</strong></h2>
              </ion-text>
              <ion-text color="medium">
                <h3>
                  {{tipousuario}}
                </h3>
              </ion-text>

            </ion-label>
            <ion-label *ngIf="this._authService.getRol() == null">
              <ion-text color="light">
                <h2><strong>Bienvenido</strong><strong> </strong></h2>
              </ion-text>
              <ion-text color="medium">
                <h3>
                  {{tipousuario}}
                </h3>
              </ion-text>

            </ion-label>
          </ion-item>

        </ion-toolbar>

        <ion-fab vertical="center" horizontal="end">
          <ion-fab-button size="small" color="medium">
            <ion-icon name="apps"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            <!--<ion-fab-button size="small" color="tertiary" routerLink="/edit-profile" routerDirection="forward"
              (click)="closeMenu()">
              <ion-icon name="contact"></ion-icon>
            </ion-fab-button>-->
            <!--<ion-fab-button size="small" color="tertiary" (click)="logout()" routerLink="/login" routerDirection="forward"
              (click)="closeMenu()">-->
              <ion-fab-button *ngIf="!this._authService.conexionApagada" size="small" color="tertiary" (click)="enLinea()"
              routerDirection="forward">
              <ion-icon style="color: green;" name="checkmark-circle-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="this._authService.conexionApagada" size="small" color="tertiary" (click)="enLinea()"
              routerDirection="forward">
              <ion-icon style="color: red;" name="checkmark-circle-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" color="tertiary" (click)="logOut()" routerLink="/login"
              routerDirection="forward">
              <ion-icon name="log-out"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>

      </ion-header>

      <ion-content class="bg-profile">
        <!-- <ion-list [ngSwitch]="tipousuario">-->
        <ion-list>
          <ion-list-header color="dark">
            <ion-label>Menú</ion-label>
          </ion-list-header>
          <div *ngIf="tipousuario=='PROFESOR'">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of this.service.appPages">
              <ion-item tappable [routerLink]="p.url" [routerDirection]="p.direct" color="dark">
                <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
                <ion-icon *ngIf="p.title=='Titulos' && this.service.faltaTitulos" slot="end" name="alert" style="color: red;"></ion-icon>
                <ion-icon *ngIf="p.title=='Materias' && this.service.faltaMaterias" slot="end" name="alert" style="color: red;"></ion-icon>
                <ion-icon *ngIf="p.title=='Disponibilidad' && this.service.faltaDisponibilidad" slot="end" name="alert" style="color: red;"></ion-icon>
                <ion-icon *ngIf="p.title=='Configuraciones' && this.service.faltaCOnfiguracion" slot="end" name="alert" style="color: red;"></ion-icon>
                
              </ion-item>
            </ion-menu-toggle>
          </div>
          <div *ngIf="tipousuario=='CLIENTE'">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages2">
              <ion-item tappable [routerLink]="p.url" [routerDirection]="p.direct" color="dark">
                <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>
          <div *ngIf="tipousuario=='ESTUDIANTE'">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages1">
              <ion-item tappable [routerLink]="p.url" [routerDirection]="p.direct" color="dark">
                <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </div>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>