:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-light);
    }
    ion-card {
        border-radius: 0;
    }
}



agm-map {
    height: 180px;
    .gmnoprint {
      display: none !important;
    }
}
  
ion-slides {
    box-shadow: 0 4px 16px rgba(var(--ion-color-dark-rgb),.4);
    ion-slide {
        .shadow {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        box-shadow: inset 0 0 15rem rgba(var(--ion-color-primary-rgb), .95)
        }
    }
}

.card-img-status {
    width: 120px;
    position: absolute;
    transform: rotate(45deg);
    padding-top: .5rem;
    padding-bottom: .5rem;
    top: 10px;
    right: -30px;
    z-index: 99;
    text-align: center;
    &.closed {
        background-color: white;
    }
    &.open {
        background-color: rgba(var(--ion-color-success-rgb), .8);
    }
}
.textenlinea{
    color:rgba(var(--ion-color-success-rgb), .8);
}

.profile {
    ion-card {
        width: 100%;
        border-radius: 0;
        background-color: #fff;
        ion-card-content {
            padding: 32px;

            color: #fff;
            text-align: center;

            img {
                width: 128px;
                height: 128px;
                border-radius: 50%;
                border: solid 4px #fff;
                display: inline;
                box-shadow: 0 0 28px rgba(255,255,255, .65);
            }

            h1 {
                margin-top: .5rem;
            }

        }
    }

    ion-item {
        ion-input {
            border-bottom: 1px solid var(--ion-color-tertiary);
        }
    }

    ion-buttom {
        button {
            margin: 0;
        }
    }

    page-home {
        button {
            align-items: baseline;
        }
    }

    
	.dayview-allday-table{
        display: none;
    }
        
	.dayview-normal-event-container{
       margin-top: 0px;
       border: solid 2px black;
	}

	.weekview-allday-table{
        display: none;
    }
        
	.weekview-normal-event-container{
	   margin-top: 38px;
	}

	.active{
		box-shadow: 0px 0px 9px 5px gray !important;
	}



}
  .calendar-event{
    overflow: hidden;
    background-color: rgba(21, 126, 196, 0.933);
    color: white;
    height: 100%;
    width: 100%;
    padding: 2px;
    line-height: 15px;
    text-align: initial;
}
.calendar-event-reservado{
    overflow: hidden;
    background-color: rgb(106, 119, 108);
    color: white;
    height: 100%;
    width: 100%;
    padding: 2px;
    line-height: 15px;
    text-align: initial;
}
.calendar-event-espera{
    overflow: hidden;
    background-color: rgb(0, 156, 23);
    color: white;
    height: 100%;
    width: 100%;
    padding: 2px;
    line-height: 15px;
    text-align: initial;
}
.calificar{
   background-color: rgb(255, 255, 255);
    //margin-top: -20%; Nos da problemas jj
}
.input-comentario{
    width: 100%;
    margin-top: 6vh;

}
.btn-enviar{
width: 110px; 
  margin-left: 50%;

  transform: translateX(-50%);
}
.bg-profile {
    padding: 32px;
    background-color: var(--ion-color-primary);
    color: #fff;
    text-align: center;
    // padding-bottom: 28px;

    img {
      height: 128px;
      width: 128px;
      border-radius: 50%;
      border: solid 4px #fff;
      display: inline;
      box-shadow: 0 0 28px rgba(255,255,255, .65);
    }

    h1 {
      // font-size: 2.5rem;
      margin-top: .5rem;
      // color: #fff;
    }

  //   h3 {
  //     font-size: 1.8rem;
  //     color: #fff;
  //   }

  }