<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Materias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <h1 class="ion-text-center fw700">
      <ion-text color="dark">REGISTRO MATERIAS</ion-text>
    </h1>
  
    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-padding">

          <ion-list class="ion-margin-bottom">

            <ion-list-header color="light">
              <ion-label class="fw700">Materias Registradas</ion-label>
            </ion-list-header>

            <div *ngFor="let clase of property.ensena">
            <ion-list>
              <ion-item >
                <ion-label class="fw700" ><p style="color: black;">{{clase.categoria}}</p><p style="color: black;">{{clase.niveles}}</p></ion-label>

                <div class="item-note" item-end>
                  <ion-button (click)="editarensena(clase)" size="small" color="primary">
                      <ion-icon name="create"></ion-icon>
                  </ion-button>
                  <!--<ion-button size="small" color="danger">
                      <ion-icon name="trash"></ion-icon>
                  </ion-button>-->
                  
              </div>
              </ion-item>
              
            </ion-list>
            </div><br><br>
        
            <ion-list-header color="light">
              <ion-label class="fw700">Datos Materia</ion-label>
            </ion-list-header>

            <ion-grid>
                <ion-col style="text-align: center;">
                  <ion-item>
                    <ion-label color="dark">Categoría</ion-label>
                    <ion-select [(ngModel)]="idCategoriaSelec">
                      <ion-select-option *ngFor="let a of categorias" [value]="a.id_categoria">{{a.nombre_categoria}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <!--<div style="text-align: center;">
                  <ion-button icon-left color="primary" (click)="Agregarcategoria()">
                    <ion-icon name="add"></ion-icon>
                    Agregar Categoria
                  </ion-button>
                </div>-->
            </ion-grid>

            <ion-grid>
                <ion-col style="text-align: center;">
                  <ion-item>
                    <ion-label color="dark">Materia</ion-label>
                    <ion-select [(ngModel)]="idMateriaSelec">
                      <div *ngFor="let b of materias">
                      <ion-select-option *ngIf="idCategoriaSelec==b.id_categoria"  [value]="b.id_materia">{{b.nombre_materia}}
                      </ion-select-option>
                    </div>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <div style="text-align: center;">
                  <ion-button icon-left color="primary" (click)="Agregarmateria(idCategoriaSelec)">
                    <ion-icon name="add"></ion-icon>
                    Agregar Materia
                  </ion-button>
                </div>
            </ion-grid>

            <!-- <ion-item>
              <ion-icon name="eye" slot="start" color="primary"></ion-icon>
              <ion-label class="label" color="primary">Activar Demo:</ion-label>
              <ion-toggle [(ngModel)]="enableDemo"></ion-toggle>
            </ion-item> -->

            <br><br>
            <!-- <ion-item>
              <ion-label color="dark" position="stacked">Duración Demo:</ion-label>
              <ion-datetime
              displayFormat="DD/MM/YYYY"
              pikerFormat="YYY MM DD"
              cancelText="Cancelar"
              doneText="OK"
              #A (ionChange)="onChangeano(A.value)"
              min={{minFecha}}
              max={{maxFecha}}>{{dato.fechana}</ion-datetime>
            </ion-item> -->

           <!-- <br><br>
            <ion-item>
              <ion-label color="dark" position="stacked">Precio:</ion-label>
              <ion-input [(ngModel)]="precio" inputmode="text" placeholder="" >
              </ion-input>
            </ion-item>-->

           
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button *ngIf="!actualizar" (click)="enviarensena()" size="large" expand="full" color="dark"  class="ion-no-margin">
     Guardar Materia</ion-button>
    <ion-button *ngIf="actualizar" (click)="actualizarensena()" size="large" expand="full" color="dark"  class="ion-no-margin">
     Actualizar Materia</ion-button>
  </ion-card>

</ion-content>