<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.pages.favoriteproperties.title.header' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="favorites?.length === 0" color="primary" class="ion-margin-top">
    <ion-card-content>
      <p class="ion-text-center text-white">No tienes tutorías favoritas.</p>
    </ion-card-content>
  </ion-card>

  <ion-list class="ion-no-padding" *ngIf="favorites?.length > 0" [@staggerIn]="favorites">
    <ion-item-sliding *ngFor="let favorite of favorites" #slidingList>
      <ion-item class="bg-white" lines="none" tappable (click)="itemTapped(favorite)">
        <ion-thumbnail slot="start">
          <img [src]="favorite.property.picture">
        </ion-thumbnail>
        <ion-label>
          <h2>
            <ion-text color="dark"><strong>{{ favorite.property.title }}</strong></ion-text>
          </h2>
          <p class="text-12x">
            <ion-text color="primary">{{favorite.property.city}}</ion-text> ∙ <ion-text color="secondary">
              {{ favorite.property.price }}</ion-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteItem(favorite)">
          Borrar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>