<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.messages.title.header' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding ion-margin-bottom">
        <ion-card *ngIf="!messages.length" class="ion-margin-top bg-white">
          <ion-card-content>
            <p class="ion-text-center">
              <ion-text color="primary">{{ 'app.pages.messages.label.error' | translate }}</ion-text>
            </p>
          </ion-card-content>
        </ion-card>

        <ion-list class="ion-no-padding" *ngIf="messages.length">
          <ion-item-sliding *ngFor="let message of messages" #slidingList>
            <ion-item tappable (click)="brokerChat(message.id)">
            
               
                <ion-thumbnail slot="start">
                  <img style="border-radius: 50%;" [src]="message.picture">
                </ion-thumbnail>
                <ion-label>
                  <ion-row >
                   
                    <ion-col>
                 
                      <h2>
                        <ion-text color="dark"><strong>{{message.title }}</strong></ion-text>
                      </h2>
                      <p class="text-12x">
                        <ion-text color="primary" style="color: black">{{message.senderName}} ∙ {{message.date | date: 'MM/dd/yyyy'}}}</ion-text>
  
                      </p>
        
        
                      
                    </ion-col>
                  </ion-row>
               
              
              </ion-label>
            
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="deleteItem(message)">Borrar</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>