<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Activar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center fw700">
    <ion-text color="dark">CUENTA ACTIVADA</ion-text>
  </h1>
</ion-content>
