<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!cargando" class="profile">
  <div class="ion-no-margin" *ngIf="viewMode === 'perfil'">
  <ion-card class="ion-no-margin">
    <ion-card-content class="bg-profile" >
      <img *ngIf="imagensubida" style="border-radius: 50%;"  [src]="images[0].path" onerror="this.src='./assets/img/avatar.png';">
      <img *ngIf="!imagensubida" style="border-radius: 50%;"  [src]="picture" >
      <h1 class="fw500">{{nombre}} {{apellido}}</h1>
      <!--<h1 class="fw500">Prueba andres</h1>-->
      <h2 color="light" class="ion-margin-bottom">{{tipousuario}}</h2>
      <ion-button *ngIf="!imagensubida" icon-left color="secondary" (click)="selectImage()">
        <ion-icon name="photos"></ion-icon>
        Editar imagen
      </ion-button>
      <ion-button *ngIf="imagensubida"  icon-left color="secondary" (click)="startUpload(images[0])">
        <ion-icon name="photos"></ion-icon>
        Subir imagen
      </ion-button>
    </ion-card-content>

    <ion-grid fixed class="ion-no-padding">
      <ion-row>
        <ion-col size="12" class="ion-padding">

          <ion-list class="ion-margin-bottom">
            <ion-list-header color="light">
              <ion-label class="fw700">{{ 'app.label.userdata' | translate }}</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">{{ 'app.label.fullname' | translate }}:</ion-label>
              <ion-input inputmode="text" placeholder="" [(ngModel)]="nombre" value="{{nombre}}">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">{{ 'app.label.fulllastname' | translate }}:</ion-label>
              <ion-input inputmode="text" placeholder="" [(ngModel)]="apellido" value="{{apellido}}">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Identificación:</ion-label>
              <ion-input inputmode="text" placeholder="" [(ngModel)]="cedula" value="{{cedula}}"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Fecha Nacimiento:</ion-label>
              <ion-datetime
              displayFormat="DD/MM/YYYY"
              pikerFormat="YYY MM DD"
              cancelText="Cancelar"
              doneText="OK"
              [(ngModel)]="fechana" 
              #A (ionChange)="onChangeano(A.value)"
              value="{{fechana}}"
              min={{minFecha}}
              max={{maxFecha}}>{{fechana}</ion-datetime>
            </ion-item>
            <ion-item >
              <ion-label color="dark" position="stacked">N° teléfono:</ion-label>
              <ion-input inputmode="text" placeholder="" [(ngModel)]="telefono" value="{{telefono}}"></ion-input>
            </ion-item>

            <ion-item >
              <ion-label color="dark" position="stacked">Dirección:</ion-label>
              <ion-input inputmode="text" placeholder="" [(ngModel)]="direccion" value="{{direccion}}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark">Género</ion-label>
              <ion-select [(ngModel)]="genero">
                <ion-select-option value="Femenino">Femenino
                </ion-select-option>
                <ion-select-option  value="Masculino">Masculino
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label color="dark">{{ 'app.label.country' | translate }}</ion-label>
              <ion-select (ionChange)="onChange()"  [(ngModel)]="idPaisSelec" >
                <ion-select-option  *ngFor="let pais of pais"   [value]="pais.id">{{ pais.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label color="dark">Provincia</ion-label>
              <ion-select  [(ngModel)]="idProvinciaSelec" >
                <div *ngFor="let estado of estado">
                <ion-select-option    *ngIf="idPaisSelec==estado.id_pais" [value]="estado.id">{{ estado.nombre }}
                </ion-select-option>
                </div>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label color="dark">Ciudad</ion-label>
              <ion-select (ionChange)="nombreCiudad()" [(ngModel)]="idCiudadSelec" >
                <div *ngFor="let ciudad of ciudad">
                <ion-select-option  *ngIf="idProvinciaSelec==ciudad.id_estado"  [value]="ciudad.id" >{{ ciudad.nombre }}
                </ion-select-option>
                </div>
              </ion-select>
            </ion-item>
          </ion-list>

         </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button size="large" expand="full" color="dark" (click)="sendData()" class="ion-no-margin">
      {{ 'app.label.edit' | translate }}</ion-button>
  </ion-card>
</div>

<div style="
background-color: white;" *ngIf="viewMode === 'detalles'">
<br>
<ion-grid fixed class="ion-no-padding">
  <ion-row>
    <ion-col size="12" class="ion-padding">
      <ion-list class="ion-margin-bottom">
        <ion-list-header color="light">
          <ion-label class="fw700">Detalles Profesor</ion-label>
        </ion-list-header>
<ion-item>
  <ion-label color="dark" position="stacked">Costo clase por hora:</ion-label>
  <ion-input inputmode="text" placeholder="Ingrese el costo de sus clases por hora." [(ngModel)]="detalles.preciofijo" >
  </ion-input>
</ion-item>

  <ion-item>
    <ion-label color="dark" position="stacked">Descripción:</ion-label>
    <ion-input inputmode="text" placeholder="Ingrese su descripción como profesor." [(ngModel)]="detalles.descri_deta_profe">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark" position="stacked">Experiencia:</ion-label>
    <ion-input inputmode="text" placeholder="Ingrese su experiencia como profesor." [(ngModel)]="detalles.experiencia" >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark" position="stacked">Preferencias de Enseñar:</ion-label>
    <ion-input inputmode="text" placeholder="Ingrese sus preferencias." [(ngModel)]="detalles.preferencia_ense">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark" position="stacked">Facebook:</ion-label>
    <ion-input inputmode="text" placeholder="Ingrese su enlace." [(ngModel)]="detalles.facebook" >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark" position="stacked">Twitter:</ion-label>
    <ion-input inputmode="text" placeholder="Ingrese su enlace." [(ngModel)]="detalles.twitter" >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark" position="stacked">Youtube:</ion-label>
    <ion-input inputmode="text" placeholder="Ingrese su enlace." [(ngModel)]="detalles.youtube" >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark" position="stacked">Instagram:</ion-label>
    <ion-input inputmode="text" placeholder="Ingrese su enlace." [(ngModel)]="detalles.instagram" >
    </ion-input>
  </ion-item>

  <ion-list-header color="light">
    <ion-label class="fw700">Video de Presentación</ion-label>
  </ion-list-header>

   <div class="video-selection" >
    <div class="card-background-page" *ngIf="!selectedVideo && verVideo" style="text-align: center;">
      <ion-list-header color="back">
        <ion-label class="fw700">Usted ya cuenta con un video de presentación.</ion-label>
      </ion-list-header>
      <div>
        <video [src]="urlvideo" poster="../../../assets/img/play.png" controls style="width: 100%;height: 50vh;"></video>
      </div>
      <br>
      <div class="card-title" >Si desea cambiar de presentación Cargue el nuevo video.</div>
      <div class="card-subtitle">Peso máximo 5mb y formato .mp4</div>
      <ion-button icon-left color="secondary" (click)="selectVideos()">
        <ion-icon name="photos"></ion-icon>
        Cambiar Video
      </ion-button>
    
    </div>
    
  </div>



  <div class="video-selection" *ngIf="!selectedVideo && !verVideo">
    <div class="card-background-page">
      <ion-card style="text-align: center;">
        <img src="../../../assets/img/video.png">
        <div class="card-title" >Por favor suba su video de presentación.</div>
        <div class="card-subtitle">Peso máximo 5mb y formato .mp4</div>
        <ion-button icon-left color="secondary" (click)="selectVideos()">
          <ion-icon name="photos"></ion-icon>
          Subir Video
        </ion-button>
      </ion-card>
    
    </div>
  </div>




  <div class="video-section" *ngIf="selectedVideo">
    <div class="card-background-page">

      <ion-card style="text-align: center;">
        <video controls [src]="selectedVideo"></video>
        <div class="button-options" *ngIf="!uploadedVideo && !isUploading">
          <ion-button icon-left color="danger" (click)="cancelSelection()">
            <ion-icon name="close-circle"></ion-icon>
            Cancelar
          </ion-button>
          <ion-button icon-left color="success" (click)="uploadVideo()">
            <ion-icon name="checkmark-circle"></ion-icon>
            Subir
          </ion-button>
        </div>
     
        <div *ngIf="isUploading">
          <div class="uploading">
            <p><ion-spinner name="bubbles"></ion-spinner></p>
            <p>Subida - {{ uploadPercent }}% Completo</p>
          </div>
          <div class="button-options">
            <ion-button icon-left color="danger" (click)="cancelUpload()">
              <ion-icon name="close-circle"></ion-icon>
              Cancelar
            </ion-button>
          </div>
        </div>
    
        <div class="button-options" *ngIf="uploadedVideo">
          <ion-button icon-left color="success" (click)="cancelSelection()">
            <ion-icon name="checkmark-circle"></ion-icon>
            Comenzar de nuevo
          </ion-button>
        </div>
      </ion-card>
    
    </div>
   

  </div>



      </ion-list>
</ion-col>
</ion-row>
</ion-grid>
<ion-button size="large" expand="full" color="dark" (click)="sendDataDetaProf()" class="ion-no-margin">Guardar</ion-button>
</div>

<div class="ion-no-margin" *ngIf="viewMode === 'detalles2'">


</div>



</ion-content>

<ion-footer class="bg-dark" *ngIf="tipousuario === 'PROFESOR'">
  <ion-toolbar color="primary">
    <ion-grid class="ion-no-padding">
      <ion-row style="
      justify-content: center;">
        <ion-col size="4" class="ion-no-padding">
          <ion-button  (click) = "cambiar('perfil')" size="small" expand="full" fill="clear" color="medium">
            DATOS
            <ion-icon slot="start" name="list"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="4" class="ion-no-padding" >
          <ion-button (click) = "cambiar('detalles')"  size="small" expand="full" fill="clear" color="medium">
            DETALLES
            <ion-icon slot="start" name="list-box"></ion-icon>
          </ion-button>
        </ion-col>
</ion-row>
</ion-grid>
</ion-toolbar>
</ion-footer>


