:host {
  ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }
}

.bg-profile {
  background-image: linear-gradient(180deg, #005b85 0%, #005b85 100%);
  //054597
}
.profile {
  ion-card {
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    ion-card-content {
      padding: 32px;
      background-color: var(--ion-color-primary);
      color: #fff;
      text-align: center;
      // padding-bottom: 28px;

      img {
        height: 128px;
        width: 128px;
        border-radius: 50%;
        border: solid 4px #fff;
        display: inline;
        box-shadow: 0 0 28px rgba(255,255,255, .65);
      }

      h1 {
        // font-size: 2.5rem;
        margin-top: .5rem;
        // color: #fff;
      }

    //   h3 {
    //     font-size: 1.8rem;
    //     color: #fff;
    //   }

    }
  }

  ion-item {
    ion-input {
      border-bottom: 1px solid var(--ion-color-tertiary);
    }
  }

  ion-buttom {
    button {
      margin: 0;
    }
  }
}
